body{  
  background-image:url("https://i.annihil.us/u/prod/marvel/movies/infinitywar/videos/home.jpg");
}
h1{
    font-family: 'Anton', sans-serif;
    font-size: 30px;
    color:gold;
    
}
h2{
    font-family: 'ZCOOL QingKe HuangYou', cursive;
    color:red;

}
h3{
    font-family: 'ZCOOL QingKe HuangYou', cursive;
    color: mediumslateblue;

}

label{
    font-family: 'Bangers', cursive;
    color:red;
    font-size: 19px;
    text-align: center;
}



    
   

